# Native - process folder
[steganogan]
command_type = native
run = /bin/steganogan -i {INPUT_DIR} -o {OUTPUT} 

#$ /bin/steganogan -i data/input -o data/output
# Docker - command per file - working dir

[steganogan-docker]
command_type = docker
image = whatever:latest
working_dir = /my/app
run = docker run --rm whatever:latest -v data:/data bash -c "cd /my/app && for image in images; do /bin/steganogan -i /data/input -o /data/output images; done"
# Docker - process folder - no working dir

[steganogan-docker2]
command_type = docker
compatible_types = ['jpeg', 'jpg']
maximum_embedding_ratio = 0.2
image = whatever:latest
run = /bin/steganogan -i {INPUT_DIR} -o {OUTPUT}

#$ docker run --rm whatever:latest -v data:/data /bin/steganogan -i /data/input -o /data/output
# need to think about bpp and the jpeg ratio for fair comparisons 